 <!-- service --->
  <section class="service service">
    <div class="service-inner container">
      <div class="inner">
        <h2 class="section-title">Service</h2>
          <ol class="explanation_inner">
            <li>炭水化物、脂質、塩分の中からご自身の気になる成分を選択してください。（複数選択可能です）</li>
            <li>食べたいジャンルを選択してください。麺類、ご飯類のどちらかからお選びいただけます。</li>
            <li>選んでいただいたジャンルをメイン食品とし、それに合う食品（プラス一品）と一緒に表示します。</li>
          </ol>
        <br>
        <br>

        <h2 class="section-title">栄養基準</h2>
        <div class="explanation_nutrition">
          <div class="explanation_male">
            <p>男性の一日目標量</p>
              <ul class="explanation_male_inner">
                <li class="explanation_male_item">炭水化物：約390g</li>
                <li class="explanation_male_item">脂質：60〜90g</li>
                <li class="explanation_male_item">塩分：7.5g未満</li>
              </ul>
          </div>
          <div class="explanation_lady">
            <p>女性の一日目標量</p>
              <ul class="explanation_lady_inner">
                <li class="explanation_lady_item">炭水化物：約300g</li>
                <li class="explanation_lady_item">脂質：45〜75g</li>
                <li class="explanation_lady_item">塩分：6.5g未満</li>
              </ul>
          </div>
        </div>
        <p style="font-size: 15px">参考：<a href="https://www.mhlw.go.jp/content/10904750/000586553.pdf" target="_blank" rel="noopener noreferrer">日本人の食事摂取基準（2020 年版）</a></p>

      </div>
    </div>
  </section>