<div>
  <!-- top --->
  <div class="top">
    <div class="top-picture"></div>
    <div class="top-message">
      <h1>healthy_combi</h1>
      <p>コンビニ食品を健康的に選択</p>
    </div>
  </div>

  <!-- top-bottom --->
  <section class="top-bottom-page">
    <div class="top-bottom-page-inner container">
      <div class="inner">
        <h2 class="section-title">login</h2>
        <div class="top-button">
          <div class="top-bottom-login">
            <div class="top-bottom-login-btn">
              <%= link_to t('.login'), login_path, class: 'btn-login-shadow' %>
            </div>
            <div class="top-bottom-login-box">
              <p>本サービスの正規ログイン方法です。<br> 選んだ組み合わせをカレンダーに記録することができます。</p>
            </div>
          </div>
          <div class="top-bottom-guest">
            <div class="top-bottom-login-btn">
              <%= link_to t('.guest_login'), 'guest_login', method: :post, class: 'btn-sub-login-shadow' %>
            </div>
            <div class="top-bottom-login-box">
              <p>ゲストユーザーとしてログインします。<br> 新規登録なしに手軽にサービスをお楽しみいただけます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- concept --->
  <section class="consept container inner">
  <h2 class="section-title">Concept</h2>
    <div class="concept-inner">
      <div class="concept-img">
        <%= image_pack_tag("boxed.jpg", class: 'w-100') %>
      </div>
      <div class="concept-text-box">
        <div class="concept-text-main">
          <h2>普段の食事で糖質、脂質、塩分が気になる方へ。</h2>
        </div>
        <div class="comcept-text-sub">
          <p>コンビニ食品からあなたの気になる成分を控えた食品の組み合わせを提案します。</p>
        </div>
      </div>
    </div>
  </section>


 <!-- service --->
  <section class="service service">
    <div class="service-inner container">
      <div class="inner">
        <h2 class="section-title">Service</h2>
          <div class="service-text-box">
            <div class="service-text-component">
              <p>組み合わせ選択を押していただくと、成分を選択できます。</p>
              <p>ここで自分が気になる成分を選択して下さい。</p>
            </div>
            <div class="service-text-genre">
            <p>次に食べたいジャンルを選ぶことで、組み合わせが表示されます。</p>
            </div>
          </div>
      </div>
    </div>
  </section>

</div>