<div>
  <!-- top --->
  <div class="top">
    <div class="top-picture"></div>
    <div class="top-message">
      <h1>healthy_combi</h1>
      <p>コンビニ食品を健康的に選択</p>
    </div>
  </div>

  <!-- top-bottom --->
  <section class="top-bottom-page" style="background-color: #F0E5CF">
    <div class="top-bottom-page-inner container">
      <div class="inner">
        <div class="top-button d-md-flex justify-content-around">
          <div class="top-bottom-login">
            <div class="top-bottom-login-btn">
              <%= link_to 'アプリを始める', select_food_combinations_path, class: 'btn-login-shadow' %>
            </div>
          </div>
          <div class="top-bottom-guest">
            <div class="top-bottom-login-btn">
              <%= link_to '使い方説明', explanation_path, class: 'btn-sub-login-shadow' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>