<div class="food_component_btn">
  <div class="food_combi_sort food_combi_btn">
    <%= sort_link(@q, :prices, '糖質', { default_order: :asc }, { class: "food_component_select" }) %>
  </div>
  <div class="food_combi_sort food_combi_btn">
    <%= sort_link(@q, :prices, '脂質', { default_order: :asc }, { class: "food_component_select" }) %>
  </div>
  <div class="food_combi_sort food_combi_btn">
    <%= sort_link(@q, :prices, '塩分', { default_order: :asc }, { class: "food_component_select" }) %>
  </div>
</div>