<div class="footer">
  <footer class="d-flex flex-wrap dark bg-dark justify-content-between align-items-center p-4 border-top text-center">
    <p class='col-md-2 mb-0 text-white'>&copy; 2021. healthy_combi</p>
    <%= link_to 'プライバシー', privacy_path, class: 'col-md-2 mb-0 text-white' %>
    <%= link_to '利用規約', terms_path, class: 'col-md-2 mb-0 text-white' %>

    <a href="/" class="col-md-2 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>
  </footer>
</div>

