<header>
<!-- 切替ボタン -->
<nav class="navbar navbar-dark bg-dark ml-auto">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">Navbar</a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="折り畳みナビゲーション">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<!-- 非表示コンテンツ -->
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h4 class="text-white">折り畳みコンテンツ</h4>
    <span class="text-muted">ナビゲーションバーブランド経由で切り替えられる。</span>
  </div>
</div><!-- /.collapse -->
</header>