<div class="border border-warning" style="padding:20px">
  <h2 class="section-title">栄養基準</h2>
    <div class="explanation_nutrition">
      <div class="explanation_male">
        <p>男性の一日目標量</p>
          <ul class="explanation_male_inner">
            <li class="explanation_male_item">炭水化物：約390g</li>
            <li class="explanation_male_item">脂質：60〜90g</li>
            <li class="explanation_male_item">塩分：7.5g未満</li>
          </ul>
      </div>
      <div class="explanation_lady">
        <p>女性の一日目標量</p>
          <ul class="explanation_lady_inner">
            <li class="explanation_lady_item">炭水化物：約300g</li>
            <li class="explanation_lady_item">脂質：45〜75g</li>
            <li class="explanation_lady_item">塩分：6.5g未満</li>
          </ul>
      </div>
    </div>
    <p class="text-center food_standard mt-2">参考：<a href="https://www.mhlw.go.jp/content/10904750/000586553.pdf" target="_blank" rel="noopener noreferrer">日本人の食事摂取基準（2020 年版）</a></p>
</div>
<div class="food_combi_btn">
  <% if current_page?(food_combinations_path) %>
    <%= link_to '成分量が多い組み合わせページ', '#', class: 'food_combi_ng_select', id: 'js-ngfood', "data-turbolinks": false %>
  <% else %>
    <%= link_to '組み合わせページ', '#', class:'food_combi_normal_select', id: 'js-normalbtn', "data-turbolinks": false %>
  <% end %>
</div>