// 
// food画面
// 
@mixin food_combi_title_box($color) {
  font-size: 1.2em;
  background: $color;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.food_combi_flex img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.food_combi_contain {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-around;
}
.food_combi_flex {
  max-width: 850px;
  width: 100%;
}
.food_combi_text {
  font-size: 25px;
  text-align: center;
  padding: 20px;
}
.food_combi_compo {
  font-size: 40px;
  margin: auto 40px
}
.food_combi_menu_text {
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.food_combi_main_name {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}
.food_combi_sub_name {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}
.food_combi_menu_inner {
  display: flex;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  justify-content: space-around;
}
.food_combi_title {
  @include food_combi_title_box($text-color)
}
.food_combi_title_red {
  @include food_combi_title_box($ng-btn)
}
.food_combi_price {
  margin: 20px 0;
}
.food_combi_btn {
  display: flex;
  justify-content: center;

  .food_combi_normal_select {
    @include btn($text-color);
    display: block;
    max-width: 125px;
    margin: 20px auto;
    padding: 10px 15px;
    line-height: 3;
  }
  .food_combi_ng_select {
    @include btn($ng-btn);
    display: block;
    max-width: 125px;
    margin: 20px auto;
    padding: 10px 10px;
  }
}
.food_combi_border_red {
  border:dotted 2px $ng-btn;
}
.food_combi_border_blue {
  border: dotted 2px $text-color
}
.food_combi_component_text_inner {
  margin-bottom: 30px;
}
.food_combi_ngtext {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.scroll {
  overflow:auto;
	width:400px;
	height:300px;
}



// 
// メディアクエリ
// 
@media (max-width: 1025px) {
  .food_combi_contain {
    display: block;
  }

}

// タブレット対応
// 
@media (max-width: 768px) {
  .food_combi_contain {
    display: block;
  }
  .food_combi_flex img {
    width: 240px;
    height: 200px;
    object-fit: cover;
  }
  .food_combi_menu_inner {
    display: flex;
    font-size: 25px;
    padding: 30px;
    justify-content: space-around;
  }
  .food_combi_flex {
    width: 100%;
    text-align: center;
    max-width: 880px;
  }
}


@media (max-width: 480px) {
  // 
  // food_select画面
  // 
  .food_combi_flex img {
    width: 290px;
    height: 200px;
    object-fit: cover;
  }
  .food_combi_contain {
    display: block;
  }
  .select-img {
    width: 220px;
    height: 200px;
  }
  .food_combi_flex {
    width: 100%;
  }
  .food_combi_menu_inner {
    display: block;
    padding: 10px 10px;
    font-size: 17px;
    margin-bottom: 15px;
  }
  .food_combi_text {
    text-align: left;
    font-size: 14px;
    padding: 15px;
  }
  .food_combi_compo {
    font-size: 40px;
    margin: 25px auto
  }
  .food_combi_border_red {
    border:dotted 2px $ng-btn;
  }
  .food_combi_border_blue {
    border: dotted 2px $text-color
  }
  .food_combi_component_text_inner {
    margin-bottom: 30px;
  }
  .food_combi_ngtext {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
  }
}
  
  
  
  /*299px以下で適用する内容*/
  @media (max-width: 320px) {
    .food_combi_flex img {
      width: 220px;
      height: 200px;
      object-fit: cover;
    }
    .food_combi_contain {
      display: block;
    }
  }