// 
// food画面
// 
@mixin food_combi_title_box($color) {
  font-size: 1.2em;
  background: $color;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.food_combination {
  background-color: #F0E5CF;
  font-size: 25px;
}
.food_combi_flex img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.food_combi_contain {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-around;
}
.food_combi_flex {
  max-width: 850px;
  width: 100%;
}
.food_combi_text {
  text-align: center;
  padding: 20px;
}
.food_combi_compo {
  margin: auto 40px
}
.food_combi_menu_text {
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.food_combi_main_name {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}
.food_combi_sub_name {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}
.food_combi_menu_inner {
  display: flex;
  text-align: center;
  padding: 20px;
  justify-content: space-around;
}
.food_combi_title {
  @include food_combi_title_box($text-color)
}
.food_combi_title_red {
  @include food_combi_title_box($ng-btn)
}
.food_combi_price {
  margin: 20px 0;
}
.food_combi_btn {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  .food_combi_normal_select {
    @include btn($text-color);
  }
  .food_combi_ng_select {
    @include btn($ng-btn);
  }
  .food_combi_normal_select, .food_combi_ng_select {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    padding: 35px;
  }
}
.food_combi_border_red {
  border:dotted 2px $ng-btn;
}
.food_combi_border_blue {
  border: dotted 2px $text-color
}
.food_combi_component_text_inner {
  margin-bottom: 30px;
}
.food_combi_ngtext {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.scroll {
  overflow:auto;
	width:400px;
	height:300px;
}

// 
// 栄養基準
//
.border {
  border: 5px solid #ffc107 !important;
}
.explanation_inner {
  font-size: 20px;
  li {
    margin-bottom: 50px;
  }
}
.top_container {
  padding: 13px;
}
.navbar {
  padding: 30px;
}
.container-fluid {
  font-size: 20px;
}
.explanation_nutrition {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

// 
// スクロールトップ
// 
.js-scroll-fadein {
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
  &.is-fadein {
    visibility: visible;
    opacity: 1;
  }
}
.arrow{
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: #fff;
  cursor: pointer;
  // background-color: #c4c4c4;
  border-radius: 35px;
  padding: 35px;
  transition: all 0.2s ease-in-out;
  &:hover{
    opacity: .8;
    bottom: 15px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  }
  &:after {
    content: "";
    width: 35px;
    height: 35px;
    border-top: solid 6px #fff;
    border-right: solid 6px #fff;
    transform: rotate(-45deg);
    position:  absolute;
    left: 18px;
  }
  &:after {
    top: 25px;
  }
}
.normal {
  background-color: $text-color;
}
.overdose {
  background-color: $ng-btn;
}


// 
// メディアクエリ
// 
@media (max-width: 1025px) {
  .food_combi_contain {
    display: block;
  }

}

// タブレット対応
// 
@media (max-width: 768px) {
  .food_combi_contain {
    display: block;
  }
  .food_combi_flex img {
    width: 240px;
    height: 200px;
    object-fit: cover;
  }
  .food_combi_menu_inner {
    display: flex;
    font-size: 25px;
    padding: 30px;
    justify-content: space-around;
  }
  .food_combi_flex {
    width: 100%;
    text-align: center;
    max-width: 880px;
  }
}


@media (max-width: 480px) {
  // 
  // food_select画面
  // 
  .food_combination {
    font-size: 18px;
  }
  .food_combi_flex img {
    width: 290px;
    height: 200px;
    object-fit: cover;
  }
  .food_combi_contain {
    display: block;
  }
  .select-img {
    width: 220px;
    height: 200px;
  }
  .food_combi_flex {
    width: 100%;
  }
  .food_combi_menu_inner {
    font-size: 18px;
    display: block;
    padding: 10px 10px;
    margin-bottom: 15px;
  }
  .food_combi_text {
    text-align: left;
    padding: 15px;
  }
  .food_combi_compo {
    margin: 25px auto
  }
  .food_combi_border_red {
    border:dotted 2px $ng-btn;
  }
  .food_combi_border_blue {
    border: dotted 2px $text-color
  }
  .food_combi_component_text_inner {
    margin-bottom: 30px;
  }
  .food_combi_ngtext {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .food_combi_btn {
    margin: 20px 0;
    .food_combi_normal_select, .food_combi_ng_select {
      padding: 25px;
    }
  }
  .explanation_nutrition {
    font-size: 18px;
  }

// 
// 栄養基準
//
.explanation_nutrition {
  display: block;
}
.explanation_inner {
  li {
    margin-bottom: 50px;
  }
}
.explanation_male {
  margin-bottom: 30px;
  p {
    margin: 0;
  }
}
.explanation_lady {
  p {
    margin: 0;
  }
}
}

  /*299px以下で適用する内容*/
  @media (max-width: 320px) {
    .food_combi_flex img {
      width: 220px;
      height: 200px;
      object-fit: cover;
    }
    .food_combi_contain {
      display: block;
    }
  }