.food_top {
  background-color: #F0E5CF;
  font-size: 20px;
}
.main_text_box {
  background-color: #fff;
}
.pagination {
  justify-content: center;
  margin: 40px 0;
}
.page-item.active .page-link {     
  background: orange;
  border-radius: 15px;
}
.page-item .page-link {
  border: none;
  background-color: #F0E5CF;
}
.food_combi_main img {
  width: 240px;
  height: 200px;
  object-fit: cover;
}
.food-card {
  width: 70%;
}

// 
// 組み合わせ作成ページ
// 
.food_create_cross {
  margin: auto 50px;
}
.input-form {
  margin-top: 20px;
}

@media (max-width: 480px) {
  .food_top {
    font-size: 15px;
  }
  .food-card {
    width: 100%;
  }
}