$sugar-color: #185ADB;
$lipid-color: #ffeb6a;
$salt-color: #86340A;


// @mixin btn($color) {
//   display: block;
//   padding: 1.2em 5em;
//   text-decoration: none;
//   background: $color;
//   color: #FFF;
//   border-bottom: solid 4px darken($color, 20%);
//   border-radius: 3px;
// }


.food-select-top {
  background-color: #F0E5CF;
}
.food-select-message {
  text-align: center;
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #86340A;
    font-size: 40px;
  }
}

.select-card {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  max-height: 800px;


  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
}

.example {
  position: relative;

  .text-check {
    position: absolute;
    content: '';
    top: 38%;
    left: 43%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    width: 150px;
    height: 69px;
    border-left: 16px solid #25AF01;
    border-bottom: 16px solid #25AF01;
    transform: rotate(-45deg);
  }

}
@mixin select-text-md($color) {
  position: absolute;
  font-size: 78px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;
  color: $color;
}

.text-select-sugar {
  @include select-text-md($sugar-color)
}
.text-select-lipid {
  @include select-text-md($lipid-color)
}
.text-select-salt {
  @include select-text-md($salt-color)
}
.text-select-noodle {
  @include select-text-md(#fff)

}
.text-select-rice {
  @include select-text-md(#fff)
}

.filter {
  display: block;
  opacity: .1;
}

.genre-button {
  padding: 30px 80px;
  margin: 80px auto;
  display: block;
  font-size: 30px;
}

.genre {
  display: none;
}
.food_select_btn {
  text-align: center;
  margin-top: 40px;
}
.btn {
  padding: 40px;
  max-width: 100%;
  width: 58%;
}


// 
// food_select画面
// 
.food_select_back {
  background-color: #F0E5CF;
}
.food_select_main_graph_box {
  display: flex;
  margin-right: 40px;
  height: 79px;

  p {
    line-height: 69px;
    margin-right: 10px;
  }
  .food_select_sub_graph_text {
    width: 132px;
  }
  .food_select_main_graph {
    background-color: #4242ff;
    width: 200px;
    height: 63px;
  }
  .food_select_sub_graph {
    background-color: #ffd1a3;
    width: 200px;
    height: 63px;
  }
}


// 
// メディアクエリ
@media (max-width: 480px) {

  @mixin select-text-sp($color) {
    font-size: 40px;
    font-weight: bold;
    color: $color;
  }

  // selectページ
  .food-select-message {
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      color: #86340A;
      font-size: 20px;
    }
  }
  .text-select {
    @include select-text-sp(#111111)
  }
  .text-select-sugar {
    @include select-text-sp($sugar-color)
  }
  .text-select-lipid {
    @include select-text-sp($lipid-color)
  }
  .text-select-salt {
    @include select-text-sp($salt-color)
  }
  .text-select-noodle {
    @include select-text-sp(#fff)

  }
  .text-select-rice {
    @include select-text-sp(#fff)
  }

  .example {
    position: relative;
  
    .text-check {
      position: absolute;
      content: "";
      top: 34%;
      left: 35%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      width: 85px;
      height: 38px;
      border-left: 9px solid #25AF01;
      border-bottom: 9px solid #25AF01;
      transform: rotate(
  -45deg);
    }
  }
  .btn {
    padding: 20px;
    max-width: 100%;
    width: 90%;
  }
}