.food-select-top {
  background-color: #F0E5CF;
}
.food-select-message {
  text-align: center;
  h1 {
    color: #86340A;
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 30px;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 30px;
    color: #86340A;
    margin-bottom: 30px;
  }
}

.select-card {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
}
.example {
  position: relative;

  .text-check {
    position: absolute;
    content: '';
    top: 38%;
    left: 43%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    width: 150px;
    height: 69px;
    border-left: 16px solid #25AF01;
    border-bottom: 16px solid #25AF01;
    transform: rotate(-45deg);
  }

}
.text-select {
  position: absolute;
  font-size: 100px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;
  color: rgb(26, 24, 24);
}

.filter {
  display: block;
  opacity: .1;
}

.genre-button {
  padding: 30px 80px;
  margin: 80px auto;
  display: block;
  font-size: 30px;
}

.genre {
  display: none;
}

.select-img {
  max-width: 1300px;
  max-height: 700px;
}


// 
// food画面
// 
.food_combi_contain {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}
.food_combi_flex {
  margin-right: 50px;
  width: 300px;
  text-align: center;
}
.food_combi_menu_text {
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.food_combi_title {
  font-size: 1.2em;
  background: #5fc2f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

// 
// food_select画面
// 
.food_select_back {
  background-color: #F0E5CF;
}
.food_select_main_graph_box {
  display: flex;
  margin-right: 40px;
  height: 79px;

  p {
    line-height: 69px;
    margin-right: 10px;
  }
  .food_select_sub_graph_text {
    width: 132px;
  }
  .food_select_main_graph {
    background-color: #4242ff;
    width: 200px;
    height: 63px;
  }
  .food_select_sub_graph {
    background-color: #ffd1a3;
    width: 200px;
    height: 63px;
  }
}

.food_combi_price {
  margin: 20px 0;
}


// .food_select_compo {
//   text-align: center;
// }



// 
// メディアクエリ
@media (max-width: 480px) {

  // selectページ
  .food-select-message {
    .food-message-top {
      color: #86340A;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 10px;
    }
    .food-message-sub {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 13px;
      color: #86340A;
    }
  }

  .text-select {
    font-size: 40px;
    font-weight: bold;
    color: rgb(26, 24, 24);
  }

  .example {
    position: relative;
  
    .text-check {
      position: absolute;
      content: "";
      top: 34%;
      left: 35%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      width: 85px;
      height: 38px;
      border-left: 9px solid #25AF01;
      border-bottom: 9px solid #25AF01;
      transform: rotate(
  -45deg);
    }
  }

  .genre-button {
    padding: 18px 58px;
    margin: 40px auto;
    display: block;
    font-size: 16px;
}



// 
// food_select画面
// 
  .food_combi_contain {
    display: block;
  }
  .food_combi_flex {
    width: 100%;
  }
  .food_combi_menu_inner {
    padding: 10px 10px;
  }
}

