.header {
  font-size: 25px;
}

.alert {
  margin-bottom: 0;
}
.alert-message {
  color: red;
  position: relative;
}
.alert-text {
  position: absolute;
  left: 0;
  top: 15px;
  padding: 0;
}
.contact-item-input {
  margin-bottom: 60px;
}
.static-text {
  background-color: #F0E5CF;
  li {
    list-style-type: decimal;
  }
}


// 
// inquiry
// 
.inquiry {
  background-color: #F0E5CF;
}


// 
// component_btn
// 
.food_component_btn {
  display: flex;
  justify-content: space-evenly;
}
.food_component_select {
  @include btn(orange);
  display: block;
  max-width: 125px;
  margin: 20px auto;
  padding: 20px 20px;
}


// 
// メディアクエリ
@media (max-width: 480px) {
  .alert-message {
    font-size: 12px;
  }
  .contact-item-input {
    margin-bottom: 45px;
  }
  .top_container {
    padding: 10px;
    font-size: 15px;
  }
  .nav-link {
    margin-top: 5px;
  }
  .navbar {
    padding: 30px;
  }
  .navbar-collapse {
    font-size: 15px;
  }

// 
// component_btn
// 
  .food_component_select {
    padding: 10px 10px;
  }
}
