.alert {
  margin-bottom: 0;
}
.alert-message {
  color: red;
  position: relative;
}
.alert-text {
  position: absolute;
  left: 0;
  top: 15px;
  padding: 0;
}
.contact-item-input {
  margin-bottom: 60px;
}
.static-text {
  background-color: #F0E5CF;
  li {
    list-style-type: decimal;
  }
}


// 
// explanation
// 
.explanation_male {
  font-size: 25px;
}
.explanation_lady {
  font-size: 25px;
}
.explanation_inner {
  font-size: 20px;
  li {
    margin-bottom: 50px;
  }
}
.explanation_male_inner {
  font-size: 25px;
}
.explanation_lady_inner {
  font-size: 25px;
}
.top_container {
  padding: 13px;
  font-size: 20px;
}
.navbar {
  padding: 30px;
}
.container-fluid {
  font-size: 20px;
}
.explanation_nutrition {
  display: flex;
  justify-content: space-around;
}

// 
// inquiry
// 
.inquiry {
  background-color: #F0E5CF;
}


// 
// メディアクエリ
@media (max-width: 480px) {
  .alert-message {
    font-size: 12px;
  }
  .contact-item-input {
    margin-bottom: 45px;
  }
  .top_container {
    padding: 10px;
    font-size: 10px;
  }
  .navbar {
    padding: 30px;
  }
  .container-fluid {
    font-size: 15px;
  }


// 
// explanation
// 
  .explanation_nutrition {
    display: block;
  }
  .explanation_inner {
    font-size: 20px;
    li {
      margin-bottom: 50px;
    }
  }
  .explanation_male_inner {
    font-size: 20px;
  }
  .explanation_lady_inner {
    font-size: 20px;
  }
}
