<% if @sugar.nil? %>
<% elsif @sugar && @component_params.size == 1 && @noodle %>
<h2>糖質、麺類</h2>
<% elsif @sugar && @component_params.size == 1 && @rice %>
<h2>糖質、ご飯類</h2>
<% elsif @sugar && @component_params.size == 1 && @bread %>
<h2>糖質、パン類</h2>
<% elsif @sugar && @component_params.size == 1 && @snack %>
<h2>糖質、お菓子類</h2>
<% end %>