<div class="container">
    <% @noodle_intermediate.each do |n| %>
    <%# 中間テーブルからラーメンの名前を獲得 %>
      <% if n.noodle.sugar + n.noodle_sub.sugar < 100 %>
        <div class="d-flex flex-row">
          <div class="p-2">
            <%= n.noodle.name %>
          </div>
            <p class="p-2">×</p>
          <div class="p-2">
            <%= n.noodle_sub.name %>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary" type="button">この組み合わせに決定</button>
        </div>
      <% end %>
    <% end %>
</div>