<div class="row">
  <div class="col-md-12 mb-3">
    <%= render 'search_form' %>
  </div>
  <div class="text-right">
  <%= link_to "新規作成", new_admin_sub_path %>
</div>
</div>
<div class="col-sm-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-center">id</th>
        <th scope="col" class="text-center">name</th>
        <th scope="col" class="text-center">image</th>
        <th scope="col" class="text-center">calorie</th>
        <th scope="col" class="text-center">sugar</th>
        <th scope="col" class="text-center">lipid</th>
        <th scope="col" class="text-center">salt</th>
      </tr>
    </thead>
    <tbody>
      <%= render @subs %>
    </tbody>
  </table>
</div>