<div class="login-box">
  <div class="login-logo">
    <h1>ログイン</h1>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", type: "text", placeholder: "メールアドレス" %>
        </div><br>
        <div class="form-group">
          <%= f.password_field :password, class: "form-control", type: "password", placeholder: "パスワード" %>
        </div>
        <div class="contact-button">
          <%= f.submit "送信", class: 'btn-square-shadow' %>
      </div>
      <% end %>
    </div>
  </div>
</div>